<section class="about-us" id="about-us">
  <div class="container">
    <h2 class="about-us__title">Почему выбирают нас?</h2>
    <!-- /.about-us__title -->

    <div class="about-us__container">

      <div class="about-us__advantage advantage">
        <ul class="advantage__list-btn">
          <li class="advantage__item">
            <button class="advantage__button btn-reset advantage__button_active">Удобство</button>
            <!-- /.advantage__button -->
          </li>
          <!-- /.advantage__item -->
          <li class="advantage__item">
            <button class="advantage__button btn-reset">Скорость</button>
            <!-- /.advantage__button -->
          </li>
          <!-- /.advantage__item -->
          <li class="advantage__item">
            <button class="advantage__button btn-reset">Качество</button>
            <!-- /.advantage__button -->
          </li>
          <!-- /.advantage__item -->
          <li class="advantage__item">
            <button class="advantage__button btn-reset">Надежность</button>
            <!-- /.advantage__button -->
          </li>
          <!-- /.advantage__item -->
        </ul>
        <!-- /.advantage__list-btn -->

        <ul class="advantage__list-content">
          <li class="advantage__item-content advantage__item-content_convenience advantage__item-content_active">
            Наш сервис обмена криптовалюты Crypto интуитивно понятен и удобен в использовании. С нами просто.
          </li>
          <!-- /.advantage__item-content -->
          <li class="advantage__item-content advantage__item-content_speed">
            У нас самая быстрая скорость по обмену криптовалюты по подобным сервисам в России
          </li>
          <!-- /.advantage__item-content -->
          <li class="advantage__item-content advantage__item-content_quality">
            Нашу платформу выбирают миллионы людей
          </li>
          <!-- /.advantage__item-content -->
          <li class="advantage__item-content advantage__item-content_security">
            Ваши пароли под надежной защитой. Нас невозможно взломать
          </li>
          <!-- /.advantage__item-content -->
        </ul>
        <!-- /.advantage__list-content -->
      </div>
      <!-- /.about-us__advantage advantage -->

      <div class="about-us__exchange-rates exchange-rates">
        <h3 class="exchange-rates__title">Изменение курса в режиме реального времени</h3>
        <!-- /.exchange-rates__title -->
        <ul class="exchange-rates__list">
          <li class="exchange-rates__item exchange-rates__item_up">
            <span class="exchange-rates__currency">RUB/AUD</span>
            <!-- /.exchange-rates__currency -->
            <span class="exchange-rates__value">25.59</span>
            <!-- /.exchange-rates__value -->
          </li>
          <!-- /.exchange-rates__item -->
          <li class="exchange-rates__item exchange-rates__item_up">
            <span class="exchange-rates__currency">HKD/BYR</span>
            <!-- /.exchange-rates__currency -->
            <span class="exchange-rates__value">27.76</span>
            <!-- /.exchange-rates__value -->
          </li>
          <!-- /.exchange-rates__item -->
          <li class="exchange-rates__item exchange-rates__item_down">
            <span class="exchange-rates__currency">AUD/CNH</span>
            <!-- /.exchange-rates__currency -->
            <span class="exchange-rates__value">72.68</span>
            <!-- /.exchange-rates__value -->
          </li>
          <!-- /.exchange-rates__item -->
          <li class="exchange-rates__item exchange-rates__item_up">
            <span class="exchange-rates__currency">JPY/GBP</span>
            <!-- /.exchange-rates__currency -->
            <span class="exchange-rates__value">32.96</span>
            <!-- /.exchange-rates__value -->
          </li>
          <!-- /.exchange-rates__item -->
        </ul>
        <!-- /.exchange-rates__list -->
      </div>
      <!-- /.about-us__exchange-rates exchange-rates -->

    </div>
    <!-- /.about-us__container -->

  </div>
  <!-- /.container -->
</section>
<!-- /#about-us.about-us -->