<section class="faq" id="faq">
  <div class="container">
    <h2 class="faq__title">Частые вопросы</h2>
    <!-- /.faq__title -->
    <ul class="faq__list">
      <li class="faq__item">
        <button class="faq__question btn-reset" type="button">Как обменивать монеты?</button>
        <!-- /.faq__question -->
        <div class="faq__answer">
          <p class="faq__dropdown">
            Вы можете обменять любую поддерживаемую монету, следуя этим простым <a href="#" class="faq__link">шагам</a>
          </p>
          <!-- /.faq__dropdown -->
        </div>
        <!-- /.faq__answer -->
      </li>
      <!-- /.faq__item -->
      <li class="faq__item">
        <button class="faq__question btn-reset" type="button">Как долго ждать обмен?</button>
        <!-- /.faq__question -->
        <div class="faq__answer">
          <p class="faq__dropdown">
            Каждая транзакция на Changelly проходит в три этапа. Обычно это занимает 5-30 минут.
            Если транзакция занимает больше времени, это может быть связано с несколькими факторами.
            Чтобы узнать причину задержки, необходимо определить на каком этапе она произошла.
            Пройдите на страницу История, найдите сделку, с которой возникли проблемы,
            и посмотрите ее статус.
          </p>
          <!-- /.faq__dropdown -->
        </div>
        <!-- /.faq__answer -->
      </li>
      <!-- /.faq__item -->
      <li class="faq__item">
        <button class="faq__question btn-reset" type="button">Как пользоваться платформой?</button>
        <!-- /.faq__question -->
        <div class="faq__answer">
          <p class="faq__dropdown">
            После регистрации вам будет доступна <a href="#" class="faq__link">база знаний Crypto</a>, в которой вы
            сможете
            ознакомится с подробными инструкциями по работе с платформой
          </p>
          <!-- /.faq__dropdown -->
        </div>
        <!-- /.faq__answer -->
      </li>
      <!-- /.faq__item -->
      <li class="faq__item ">
        <button class="faq__question btn-reset" type="button">Как вывести деньги на карту?</button>
        <!-- /.faq__question -->
        <div class="faq__answer">
          <p class="faq__dropdown">
            Для того, чтобы вывести деньги на карту, необходимо прикрепить нужную карту к нашей
            платформе. Вывод денег доступен с 10:00 до 18:00 МСК в рабочие дни
          </p>
          <!-- /.faq__dropdown -->
        </div>
        <!-- /.faq__answer -->
      </li>
      <!-- /.faq__item -->
    </ul>
    <!-- /.faq__list -->
  </div>
  <!-- /.container -->
</section>
<!-- /#faq.faq -->