<footer class="footer">
  <div class="container footer__container">
    <img src="img/logo.svg" alt="logo" class="footer__logo">
    <div class="footer__navigation navigation">
      <ul class="navigation__list list-reset">
        <li class="navigation__item"><a href="#about-us" class="navigation__link">Почему выбирают нас?</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Частые вопросы</a></li>
      </ul>
    </div>
    <!-- /.footer__navigation navigation -->
    <p class="footer__copyright">© Crypto, 2022</p>
    <!-- /.footer__copyright -->
    <a href="https://t.me/@Mrshmallowww" class="footer__design">@Mrshmallowww</a>
    <!-- /.footer__design -->
  </div>
  <!--  /.footer__container-->
</footer>
