<header class="header">
  <div class="header__container container ">
    <img src="img/logo.svg" alt="logo" class="header__logo">
    <button class="header__nav-btn btn-reset" aria-label="Открыть меню">
      <svg width="36" height="36" viewBox="0 0 36 36" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.5 27H31.5V24H4.5V27ZM4.5 19.5H31.5V16.5H4.5V19.5ZM4.5 9V12H31.5V9H4.5Z"/>
      </svg>
    </button>
    <nav class="header__navigation navigation">
      <ul class="navigation__list navigation__list_header list-reset">
        <li class="navigation__item"><a href="#about-us" class="navigation__link">Почему выбирают нас?</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Частые вопросы</a></li>
      </ul>
    </nav>
    <!-- /.header__navigation navigation -->
  </div>
</header>
