// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Inter", sans-serif;
  --content-width: 1150px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --dark-color: #000;
  --light-color: #fff;
  --gray-color: #858585;
  --blue-color: #55c2ff;
  --malibu-color: #68B7FF;
}
